<nav class="navbar">
  <div class="logo" [routerLink]="['categories']">
    {{ websiteName }}
  </div>

<!--  <ul class="nav-links">-->
<!--    @for (item of navItems(); track item.label) {-->
<!--      <li class="nav-item">-->
<!--        <a *ngIf="!item.children" [routerLink]="item.route">-->
<!--          <span class="icon">{{ item.icon }}</span> {{ item.label }}-->
<!--        </a>-->

<!--        <div class="dropdown" *ngIf="item.children">-->
<!--          <span class="icon">{{ item.icon }}</span> {{ item.label }} ⌄-->
<!--          <ul class="dropdown-menu">-->
<!--            @for (child of item.children; track child.label) {-->
<!--              <li>-->
<!--                <a [routerLink]="child.route">-->
<!--                  <span class="icon">{{ child.icon}}</span> {{ child.label }}-->
<!--                </a>-->
<!--              </li>-->
<!--            }-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
<!--    }-->
<!--  </ul>-->

  <div class="user-profile" (click)="toggleUserMenu()">
    <img [src]="user().avatar" alt="avatar" class="avatar" />
    <div class="user-popup" *ngIf="showUserMenu()">
      <p class="user-name">{{ user().name }}</p>
      <p class="user-email">{{ user().email }}</p>
      <hr />
      <button (click)="logout()" >Logout</button>
    </div>
  </div>
</nav>



