.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #7f8c8d;
}

.footer-text a {
  color: #1abc9c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
